# Database Envs
database_driver_name=postgresql+asyncpg
database_host_url=localhost
database_admin_username=postgres
database_admin_password=postgres
database_port=5432
database_name=assistente_academica

# Application / Domain Envs
secret_hash_code=change-me-with-at-least-32-characters
url_domain=http://localhost:8000

# JWT Envs
ACCESS_TOKEN_EXPIRE_MINUTES=60
ALGORITHM=HS256
